<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djz.mapper.PersonMapper">
<select id="selectPerson" resultType="person">
    select * from djz.person ;
</select>
<insert id="addPerson"  parameterType="person">
    insert into person(id,name,age) values (#{id},#{name},#{age});
</insert>

    <delete id="deletePerson" parameterType="int">
        delete from person where id=#{id};
    </delete>
    <update id="updatePerson" parameterType="person">
        update person set name=#{name},age=#{age} where id=#{id};
    </update>
</mapper>
 
